# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


# Output files from tests.
*_test.md
*_test.tex
*.dvi
*.pdf
*.log
*.fls
*latexmk
*.aux
testresult
*_bin

# IDE
.vscode
